<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/accueil.css' />
    <title>Accueil</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
             
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                 BIBLIOTHEQUE
                </a>
            </div>

            <div class="d-flex align-items-center">
              
                <a class="text-reset me-3" href="/Accueil">
                  Accueil
                </a>
                <a class="text-reset me-3" href="/Accueil/recherche">
                    Recherche
                </a>
                <!-- <a class="text-reset me-3" href="#">
                    Accueil
                </a> -->
    <div class="dropdown">
        <% if (typeof data !="undefined" && data.image && data.nom) { %>
    
            <a class="dropdown-toggle d-flex align-items-center justify-content-center  hidden-arrow " href="#"
                id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <img src="<%= data.image %>" class="rounded-circle border border-1 border-dark" height="50"
                    alt="Black and White Portrait of a Man" loading="lazy" />
                <span class="ms-3 text-dark">
                    <%= data.nom %>
                </span>
            </a>
            <% }%>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        <a class="dropdown-item" href="/profil">My profile</a>
                    </li>
    
                    <li>
                        <a class="dropdown-item" href="/logout">Deconnecter</a>
                    </li>
    
                </ul>
    </div>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

<div class="container-fluid main d-flex p-4 my-3">
    <div class="container main-categorie  ">
        <div class="d-flex flex-column">
            <p class="pt-4 text-center fs-5 fw-bolder">LA LISTE DES CATEGORIES</p>
            <span class="border border-dark"></span>
            <% if (categorie=="" ) { %>
                <div class="container categorie d-flex justify-content-center flex-column mt-1">
                <p class="text-center pt-4">Il n'y a pas de genre oeuvre disponible pour le moment ! </p>
                </div>
                <% } else if (categorie ){%>
            <div class="container categorie d-flex flex-column mt-1">
            <% categorie.forEach(function(categorie){ %>
                <a href="/Accueil/Categorie/<%= categorie.id %>" class="text-dark main-lien">
                    <p class="text-center text-uppercase"><%= categorie.nom %></p>
                </a>
                <% }); %>
        
           
            </div>
             <% } %>
    
        </div>
    </div>
    <% if (livre=="" ) { %>
        <div class="container  d-flex flex-column align-items-center main-livres">
        <p class="fw-bolder fs-4 text-center">LA LISTE DES LIVRES</p>
            <p class="mt-5">Il n'y a pas d'article , document ou livre disponible pour le moment !</p>
        </div>
        <% } else if (livre ){%>
    <div class="container d-flex flex-column main-livres">
        <p class="fw-bolder fs-4 text-center">LA LISTE DES LIVRES</p>
        <div class="container main-livre">
            <div class="row  row-cols-md-5 g-4 py-1 livres d-flex justify-content-center">

                <% livre.forEach(function(livre){ %>
                <div class="col">
                    <div class="card ">
                        <img src="/<%= livre.image %>" class=""
                            alt="Skyscrapers" />
                        <a href="/Accueil/detail/<%= livre.id %>">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>
        
            <% }); %>

                 <!-- <div class="col">
                    <div class="card h-100">
                        <img src="https://img.uscri.be/pth/dc9defbec4150b91b568a5dd5f788dc45cd78a82" class="card-img-top"
                            alt="Skyscrapers" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>
        
                <div class="col">
                    <div class="card h-100">
                        <img src="https://cdn1.booknode.com/book_cover/4929/soeurs_de_sang_tome_3_les_ailes_tenebreuses-4929221-264-432.jpg"
                            class="card-img-top" alt="Skyscrapers" />
        
                    </div>
                </div>
        
                <div class="col">
                    <div class="card h-100">
                        <img src="/images/51TPBENPS0L._SX195_.jpg" class="card-img-top" alt="Skyscrapers" />
        
                    </div>
                </div>
        
                <div class="col">
                    <div class="card h-100">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                            alt="Skyscrapers" />
        
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                            alt="Skyscrapers" />
        
                    </div>
                </div>
        
                <div class="col">
                    <div class="card h-100">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51TPBENPS0L._SX195_.jpg" class=""
                            alt="Skyscrapers" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>
        
                <div class="col">
                    <div class="card h-100">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51TPBENPS0L._SX195_.jpg" class=""
                            alt="Skyscrapers" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div> -->
        
                <!-- <div class="col">
                    <div class="card h-100">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51TPBENPS0L._SX195_.jpg" class=""
                            alt="Skyscrapers" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>
        
                <div class="col">
                    <div class="card h-100">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51TPBENPS0L._SX195_.jpg" class=""
                            alt="Skyscrapers" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>
        
                <div class="col">
                    <div class="card h-100">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51TPBENPS0L._SX195_.jpg" class=""
                            alt="Skyscrapers" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div> -->
        
            </div>
                    <div class="pagination">
                        <div class="prev">Prev</div>
                        <div class="page">Page <span class="page-num"></span></div>
                        <div class="next">Next</div>
                    </div>
        </div>
       
    </div>
        <% } %>

  

</div>


<footer class="bg-light text-center text-lg-start pt-5">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">KionouBibiothèque.com</a>
    </div>

</footer>




    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
    <script src="/javascripts/app.js"></script>
</body>
</html>